*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% ו;}
.fold_wrap{width:1000px;height:260px;margin:20px auto 0 auto;overflow:hidden;}
.fold_wrap li{float:left;width:130px;height:260px;position:relative;overflow:hidden;cursor:pointer;}
.fold_wrap li .mask_b{position:absolute;overflow:hidden;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.3);_background:#B2B2B2;}
.fold_wrap li.active .mask_b{background:none;}
.fold_wrap li .mask_b h4{color:#fff;width:30px;margin:0 auto;display:block;font:30px/30px Microsoft Yahei;position:relative;padding:30px 0 0 0;}
.fold_wrap li.big{width:322px;}
.fold_wrap li .adv_intro{ width:92%; height:40px; padding:5px 4%; position:absolute;left:0; bottom:-50px;background:#37D; color:#FFF; overflow:hidden;}
.adv_intro_show{bottom:0 !important; transition:bottom 0.3s linear 0.3s; -webkit-transition:bottom 0.3s linear 0.3s;}

.pic_auto{width:100%;height:100%;}
.pic_auto1{background:url(../images/1.jpg) no-repeat center 0;}
.pic_auto2{background:url(../images/2.jpg) no-repeat center 0;}
.pic_auto3{background:url(../images/3.jpg) no-repeat center 0;}
.pic_auto4{background:url(../images/4.jpg) no-repeat center 0;}
.pic_auto5{background:url(../images/5.jpg) no-repeat center 0;}
.pic_auto6{background:url(../images/6.jpg) no-repeat center 0;}
.pic_auto7{background:url(../images/7.jpg) no-repeat center 0;}
